[color="white"] {
	color: #ececec;
	text-shadow: 0px 1 #fff, 0px 1 #fff, 0px 0 #fff, 0px 0 #fff;
}
.default {
	background: linear-gradient(#e5e5e5 50%, #e5e5e5 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #c3c2c2;
	box-sizing: border-box;
	outline: none;
}

.default:hover {
	background: linear-gradient(#d6d6d6 0%, #d6d6d6 0%);
	border: 1px solid #c3c2c2;
}
.green {
	background: linear-gradient(#11a311 50%, #11a311 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #90ee90;
	box-sizing: border-box;
	outline: none;

}

.green:hover {
	background: linear-gradient(green 0%, darkgreen 0%);
	border: 1px solid #90ee90;
}

.blue {
	background: linear-gradient(#1932f0 50%, #1932f0 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #add8e6;
	box-sizing: border-box;
	outline: none;
}

.blue:hover {
	background: linear-gradient(#0e23c1 0%, #0e23c1 0%);
	border:1px solid #add8e6;
}

.orange {
	background: linear-gradient(#eea319 50%, #eea319 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #ffb01f;
	box-sizing: border-box;
	outline: none;
}

.orange:hover {
	background: linear-gradient(#dd9a20 0%, #dd9a20 0%);
	border:1px solid #ffb01f;
}

.gray {
	background: linear-gradient(#9a9a9a 50%, #9a9a9a 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #d3d3d3;
	box-sizing: border-box;
	outline: none;
}

.gray:hover {
	background: linear-gradient(#808080 0%, #808080 0%);
	border:1px solid #d3d3d3;
}

.red {
	background: linear-gradient(#ea2a2a 50%, #ea2a2a 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #ff3535;
	box-sizing: border-box;
	outline: none;
}

.red:hover {
	background: linear-gradient(#b62424 0%, #b62424 0%);
	border:1px solid #ff3535;
}
.light-blue {
	background: linear-gradient(#40bbe3 50%, #40bbe3 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #7485b2;
	box-sizing: border-box;
	outline: none;
}

.light-blue:hover {
	background: linear-gradient(#217d9a 0%, #217d9a 0%);
	border:1px solid #7485b2;
}
.purple {
	background: linear-gradient(#6a32a3 50%, #6a32a3 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #6d3ba1;
	box-sizing: border-box;
	outline: none;
}

.purple:hover {
	background: linear-gradient(#592c87 0%, #592c87 0%);
	border:1px solid #6d3ba1;
}
.brownie {
	background: linear-gradient(#865521 50%, #865521 50%);
	width: auto;
	height: auto;
	padding: 15 15 15 15;
	box-decoration-break: slice;
	border-radius: 5px;
	border:1px solid #9f682e;
	box-sizing: border-box;
	outline: none;
}

.brownie:hover {
	background: linear-gradient(#6d471f 0%, #6d471f 0%);
	border:1px solid #9f682e;
}